/*
   Forms Style Sheet
   Author: Shannon Buglar
   Date: 1 December, 2021
   Filename:         cbc_forms.css
*/

/* Form Layout Styles */

form#survey {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: row wrap;
}

form#survey > fieldset {
    background-color: rgb(241, 232, 181);
    border-radius: 20px;
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
}

div.formRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 7px 0px;
}

div.formRow > * {
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
}
/* Legend Styles */

legend {
    background-color: cadetblue;
    color: white;
    padding: 5px;
}

/* Text Area Styles */

textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

/* Spinner Styles */

div.formRow > input#dineSpin {
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
}

/* Form Button Styles */

div#buttons {
    text-align: center;
    width: 100%;
    size: auto;
}

/* Validation Styles */

input:focus, select:focus, textarea:focus {
    background-color: rgb(220, 255, 220);
}

input#name:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
    background: rgb(220, 255, 220) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid {
    background: rgb(255, 232, 233) bottom right/contain no-repeat;
}

* {box-sizing: border-box;}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}